{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<div class="row mt-5">
			<div class="col-sm-8 offset-sm-2">
				<h1>Vos informations</h1>

				{# <!-- Vers la page d'accueil -->
				<a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
				<!-- Vers la page de profil -->
				<a class="nav-link" href="{{ path('profil') }}">Profil</a> #}

			</div>
		</div>
	</div>



{% endblock %}
