{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

<div class="example-wrapper">
<a href="{{path ('app_artist_index')}}">artist</a>
<a href="{{path ('app_disc_index')}}">disc</a>
<a href="{{path ('app_user_index')}}">user</a>
<a href="{{path ('app_login')}}">login</a>
</div>
{% endblock %}
