{% extends 'base.html.twig' %}

{% block title %}Courriel de réinitianlisaation de mot de passe envoyé !{% endblock %}

{% block body %}
    <p>
        Si un compte correspon à votre courriel, un mail contenant un lien vous à été envoyé pour réninitalisé le mote de passe.
        Un mot de passe sécurisé contient au moins dix caractères, dont au moins une majuscule, un chiffre et éventuellemnt un caractère spécial et contient pas de date de naissance, ni de prénom, ni cilui d'un animal de commpagnie.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas l'email vérifier les spams (pouriels) ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
