{% extends 'base.html.twig' %}

{% block title %}Courriel de réinitianlisaation de mot de passe envoyé !
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<p class="">Si un compte correspond à votre courriel, un mail contenant un lien vous à été envoyé pour réninitalisé le mot de passe.</p>
		<p id="paragraphe_special">Un mot de passe sécurisé contient au moins dix caractères, dont au moins :
        <div class="container"><p>- une majuscule ;</p>
            <p>- un chiffre</p>
            <p>- et éventuellemnt un caractère spécial</p>
        </div>
        <p id="paragraphe_special">et ne contient pas :</p>
        <div class="container">
            <p>- de date de naissance;</p>
            <p>- ni prénom ;</p>
            <p>- ni celui d'un animal de commpagnie.</p>
        </div>
        <br>
		<p id="paragraphe_special_1">Ce lien expire dans
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
        <br>
		<p id="paragraphe_special_2">Si vous ne recevez pas l'email vérifiez les spams ou
			<a id="link_special"href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
	</div>
{% endblock %}
