{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-5 mb-5 ms-3">Reset your password</h1>

		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn-sm btn-primary ms-3 mt-5 mb-5">Reset password</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
