<body>
    <nav>
        <div class="dark">
    <a class="navbar-brand ms-2 me-5" title="Ebooks"href="{{path ('app_home')}}"><img src="" height="48" width="auto"></a><!-- Les images, les fichiers css sont dans public car c'est le point de départ -->
        
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>