<h1>Salutation ! Merci de confirmer l'inscription !</h1>

<p>
    Merci de confirmer l'inscription en cliquant le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne lecture !
</p>
