{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="d-flex">
			<a href="{{ path('app_user_index') }}">back to list</a>
			<h1>Nouveau</h1>
		</div>

		{{ include('user/_form.html.twig' ) }}
	</div>
{% endblock %}
