{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si un compte concorde à l'adresse e-mail ; un courriel contenant le lien pour réinitialiser votre mot de passe a été envoyé.
        Attention ! Ce lien s'autodétruira dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email, vérifiez le dossier spam (pourriel) ou <a href="{{ path('app_forgot_password_request') }}">réitérez</a>.</p>
{% endblock %}
