{% extends 'base.html.twig' %}


{% block body %}
	<div class="container mt-5">
		{% for flash_error in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<h1 class="ms-3 mt-5 mb-5">Oh! Zut ! J'ai oublié l'mot de passe !</h1>

        <p class="mt-2 textspecial">Pas de pannique. Remplissez le formmulaire.</p>

		{{ form_start(requestForm) }}
		{{ form_row(requestForm.username) }}
		<div class="mt-3">
			<small>
				Saisissez l'adresse e-mail attachée à votre compte et vous recevrez le lien pour réinitialiser le mot de passe.
			</small>
		</div>

		<button class="btn bg-sm btn-success ms-3 mt-5">Envoyer</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
